<script setup>
import MobileMenu from "../components/MobileMenu.vue";
import TopBar from "../components/TopBar.vue";
import SideMenu from "../components/SideMenu.vue";
import axios from "axios";
import { ref, onMounted } from "vue";

useHead({
  title: 'App Nuxt - By Hung Ha',
  meta: [
    { name: 'description', content: 'This is Nuxt App by Hung Ha' }
  ],
})

const dataList = ref([]);

async function getDataList() {
  try {
    dataList.value = [];
    const response = await axios.get('https://62f1be23b1098f15080498ea.mockapi.io/user');
      dataList.value.push(...response.data);

    const otherResponse = await axios.get('https://62f1be23b1098f15080498ea.mockapi.io/product');
    dataList.value.push(...otherResponse.data);
    
    console.log('data', dataList)
  } catch(error) {
    console.log(error);
  }
} 

onMounted(() => {
  getDataList();
});
</script>

<template>
  <div class="py-5 md:py-0">
    <MobileMenu />
    <TopBar />
    <div class="flex overflow-hidden">
      <SideMenu />
      <!-- BEGIN: Content -->
      <div class="content">
        <h2 class="intro-y text-lg font-medium mt-10">Reviews</h2>
        <div class="grid grid-cols-12 gap-6 mt-5">
          <div
            class="intro-y col-span-12 flex flex-wrap xl:flex-nowrap items-center mt-2"
          >
            <div class="flex w-full sm:w-auto">
              <div class="w-48 relative text-slate-500">
                <input
                  type="text"
                  class="form-control w-48 box pr-10"
                  placeholder="Search by name..."
                />
                <i
                  class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"
                  data-lucide="search"
                ></i>
              </div>
              <select class="w-48 xl:w-auto form-select box ml-2">
                <option>Status</option>
                <option>Active</option>
                <option>Removed</option>
              </select>
            </div>
            <div class="hidden xl:block mx-auto text-slate-500">
              Showing 1 to {{ dataList.length }} of
              {{ dataList.length }} entries
            </div>
            <div
              class="w-full xl:w-auto flex flex-wrap xl:flex-nowrap items-center gap-y-3 mt-3 xl:mt-0"
            >
              <button class="btn btn-primary shadow-md mr-2">
                <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export to
                Excel
              </button>
              <button class="btn btn-primary shadow-md mr-2">
                <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export to
                PDF
              </button>
              <div class="dropdown">
                <button
                  class="dropdown-toggle btn px-2 box"
                  aria-expanded="false"
                  data-tw-toggle="dropdown"
                >
                  <span class="w-5 h-5 flex items-center justify-center">
                    <i class="w-4 h-4" data-lucide="plus"></i>
                  </span>
                </button>
                <div class="dropdown-menu w-40">
                  <ul class="dropdown-content">
                    <li>
                      <a href="" class="dropdown-item">
                        <i
                          data-lucide="arrow-left-right"
                          class="w-4 h-4 mr-2"
                        ></i>
                        Change Status
                      </a>
                    </li>
                    <li>
                      <a href="" class="dropdown-item">
                        <i data-lucide="bookmark" class="w-4 h-4 mr-2"></i>
                        Bookmark
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- BEGIN: Data List -->
          <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible">
            <table class="table table-report -mt-2">
              <thead>
                <tr>
                  <th class="whitespace-nowrap">
                    <input class="form-check-input" type="checkbox" />
                  </th>
                  <th class="whitespace-nowrap">PRODUCT</th>
                  <th class="whitespace-nowrap">NAME</th>
                  <th class="whitespace-nowrap">RATING</th>
                  <th class="text-center whitespace-nowrap">POSTED TIME</th>
                  <th class="text-center whitespace-nowrap">STATUS</th>
                  <th class="text-center whitespace-nowrap">ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in dataList" :key="item.id" class="intro-x">
                  <td class="w-10">
                    <input class="form-check-input" type="checkbox" />
                  </td>
                  <td class="!py-4">
                    <div class="flex items-center">
                      <div class="w-10 h-10 image-fit zoom-in">
                        <img
                          alt="Midone - HTML Admin Template"
                          class="rounded-lg border-1 border-white shadow-md tooltip"
                          :src="item.avatar"
                          title="Uploaded at 3 August 2020"
                        />
                      </div>
                      <a href="" class="font-medium whitespace-nowrap ml-4">{{
                        item.product
                      }}</a>
                    </div>
                  </td>
                  <td class="whitespace-nowrap">
                    <a
                      class="flex items-center underline decoration-dotted"
                      href="javascript:;"
                      >{{ item.name }}</a
                    >
                  </td>
                  <td class="text-center">
                    <div class="flex items-center">
                      <div class="flex items-center">
                        <i
                          data-lucide="star"
                          class="text-pending fill-pending/30 w-4 h-4 mr-1"
                        ></i>
                        <i
                          data-lucide="star"
                          class="text-pending fill-pending/30 w-4 h-4 mr-1"
                        ></i>
                        <i
                          data-lucide="star"
                          class="text-pending fill-pending/30 w-4 h-4 mr-1"
                        ></i>
                        <i
                          data-lucide="star"
                          class="text-pending fill-pending/30 w-4 h-4 mr-1"
                        ></i>
                        <i
                          data-lucide="star"
                          class="text-slate-400 fill-slate/30 w-4 h-4 mr-1"
                        ></i>
                      </div>
                      <div class="text-xs text-slate-500 ml-1">(4.5+)</div>
                    </div>
                  </td>
                  <td class="text-center whitespace-nowrap">
                    {{ item.time }} seconds ago
                  </td>
                  <td class="w-40">
                    <div class="flex items-center justify-center text-success">
                      <i data-lucide="check-square" class="w-4 h-4 mr-2"></i>
                      Active
                    </div>
                  </td>
                  <td class="table-report__action w-56">
                    <div class="flex justify-center items-center">
                      <a
                        class="flex items-center text-primary whitespace-nowrap"
                        href="javascript:;"
                      >
                        <i data-lucide="check-square" class="w-4 h-4 mr-1"></i>
                        View Details
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- END: Data List -->
        </div>
      </div>
      <!-- END: Content -->
    </div>
  </div>
</template>

<style></style>
